<div class="container">
  <div class="row">
    <div class="col-md-10">
      <div class="">
        <p>المدينة :{{ city.cityName }}</p>

      </div>
      <div>
        <form [formGroup]="updateCiry" (submit)="update()">
          <div class="col-md-9">
            <input type="text" class="form-control"  placeholder="تحديث المدينة" formControlName="cityName">
          </div>
          <div class="col-md-9 mt-2">
            <input type="submit" class="btn btn-info" value="تحديث" >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
