<div class="container">
  <div class="col-10">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="addCity" (ngSubmit)="addCitys()">
          <div>
            <h4>اضافة مدينة</h4>
          </div>
          <div class="fom-group">
            <label>اسم المدينة</label>
            <input type="text" class="form-control" formControlName="cityName"/>
          </div>
          <div class="fom-group">
            <label></label>
            <input type="submit" class="btn btn-info"  value="حفظ"/>
          </div>
        </form>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>اسم المدينة</th>
          <th></th>
          <th></th>

        </tr>
      </thead>
      <tbody *ngFor="let c of city">
        <tr>
          <td></td>
          <td>{{ c.cityName }}</td>
          <td><a href="admin/updateCity/{{ c.id }}" class="btn btn-info">تعديل</a></td>
          <td><!--<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            حذف
          </button>-->
        <button class="btn btn-danger" (click)="deleteCity(c.id)">حذف</button>
        </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>
